@media (max-width: 424px) {
    .create {
        font-size: 14px;
    }


    .back {
        right: 5%;
    }

    .container {
        height: auto;
    }
    .left-container {
        display: none;
    }

    

    .right-container {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding: 0 20px;
        padding-top: 80px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div[class="form-control"]   {
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }

    .form-control > label {
        font-size: 14px;
    }

    .gender-container > span {
        font-size: 14px;
    }

    .clicking {
        font-size: 12px;
    }

    .form-control > input {
        width: 100%;
        padding: 12px;
        justify-self: center;
        align-self: center;
    }

    .gender-container {
        flex-wrap: wrap;
        gap: 12px;
        width: 100%;
        justify-content: space-evenly;
    }

    .gender-container > span {
        width: 100%;
    }

    .buttons > button {
        width: 45%;
    }

    .login {
        padding-bottom: 40px;
        font-size: 14px;
    }

    .pc {
        display: none;
    }

    .movil {
        display: inline;
    }
}