/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter';
}

/* variables */
:root {
    --amarillo: #F7CE46;
    --gris: #DDDFE5;
    --azul: #99BFFF;
    --azul-proceso: #99BFFF;
    --azul-terminado: #3478EB;
}
body {
    overflow: hidden;
}
/* Main Container Styles */
.container {
    /* sizing */
    height: 100vh;   
    width: 100%;

    display: flex;
}

/* left styles */
.left-container {
    /* sizing */
    height: 100vh;
    width: 50%;

    /* display */
    display: flex;
    justify-content: center;

    /* position */
    position: relative;

    /* effects */
    background-image: url('/img/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

/* left header styles */
.match {
    /* sizing */
    width: 40%;
    /* position */
    position: absolute;
    top: 40px;
    
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* effects */
    background-color: white;
    border-radius: 100px;
    padding: 12px 14px;

    /* font styles */
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.2rem;
}

.match > strong {
    color: red;
}

.match > img {
    width: 33px;
}


/* right container */
.right-container {
    /* sizing */
    width: 50%;
    height: 100vh;
    padding-left: 120px;
    padding-top: 40px;
    margin-left: -80px;

    /* position */
    position: relative;
    overflow: hidden;

    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* effects */
    border-radius: 60px 0 0 60px;
    background-color: #fff;
    z-index: 2;
}

.back {
    /* position */
    position: absolute;
    top: 2%;
    right: 1%;
    z-index: 100;

    /* effects */
    background-color: var(--amarillo);
    border-radius: 35%;
    font-family: 'Inter';
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    
    /* animations */
    transition: all ease-in-out 0.2s;
}

.back:hover {
    transform: scale(1.1);
}

.back:active {
    transform: scale(0.95);
}

.right-container > h2 {
    /* font styles */
    font-family: 'Inter';
    text-align: center;
    font-weight: 700;
    line-height: 130%;
    font-size: 48px;

    margin-bottom: 16px;
}

.create {
    /* font styles */
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-bottom: 24px;
}

.progres-bar {
    /* sizing */
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    gap: 4px;
}

.first, .second, .thirt {
    padding: 4px 9px;
    border-radius: 100%;
    background-color: var(--gris);

    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}


.bar1, .bar2 {
    width: 35%;
}

.bar1 > hr, .bar2 > hr {
    background-color: var(--gris);
    height: 2px;
    border: none;
    border-radius: 8px;
    width: 100%;
    color: #fff;
}

.progres {
    background-color: var(--azul-proceso) !important;
}

.active {
    background-color: var(--azul-terminado) !important;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}

.toolbar {
    display: none;
}

.form-control > input {
    width: 60%;
    border-radius: 12px;
    border: 1.5px solid #DDDFE5;
    padding: 10px;
}
.form-control > input:focus {
    outline: 1px solid var(--amarillo);
}

.gender-button > input[id="male"]:active + span {
    background-color: var(--azul);
    color: var(--azul);
}

button[type="submit"] {
    width: 90%;
    background-color: var(--amarillo, linear-gradient(139deg, #F7CE46 0%, #FBE27E 100%));
    padding: 12px;
    width: -webkit-fill-available;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 22px;
    font-weight: 400;

    transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
    transform: scale(1.05);
}

.clicking {
    font-size: 0.9rem;
    margin-bottom: 22px;
    text-align: center;
    color: #8C8E97;
}

.clicking > a {
    color: #3478EB;
    text-decoration: none;
}

.linea {
    margin: 0px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato';
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    z-index: 1;
}
.linea::before{
    border-top: 2px solid var(--gris);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.linea > span {
    background-color: white;
    padding: 0px 16px;
    color: black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
}

.buttons > button {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 18px;
    background-color: #F9F9FC;
    border: none;
    gap: 10px;
    cursor: pointer;

    transition: 0.15s all ease-in-out;
}

.buttons > button:hover {
    transform: scale(1.05);
}

.buttons > button > img {
    width: 16px;
}

.login {
    font-size: 0.9rem;
}

.login > a {
    text-decoration: none;
    color: #3478EB;
    margin-left: 10px;
}

.pc {
    display: inline;
}

.movil {
    display: none;
}