.form-control > select {
    width: 60%;
    border-radius: 12px;
    border: 1.5px solid #DDDFE5;
    padding: 10px;
}

.form-control > select:focus {
    outline: 1px solid #F7CE46;
}

.form-control {
    align-items: center;
}


form {
    width: 90%;
}

.clicking {
    width: 90%;
}