:root {
    --fondo-boton: #EFF5FF;
}

.progres-bar {
    margin-bottom: 45px;
}

.right-container {
    padding-top: 24px;
}

.interest-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
}

.interest-button {
    padding: 8px 12px;
    border-radius: 18px;
    margin-bottom: 8px;
    border: none;
    transition: all ease-in-out 0.2s;
    background-color: var(--fondo-boton);
    cursor: pointer;

    /* font styles */
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
}

.your {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
}

.interest-button:hover {
    transform: scale(1.05);
}

.pc {
    display: inline;
}

.movil {
    display: none;
}

@media (max-width: 424px) {
    .your {
        font-size: 14px;
    }
    .interest-container {
        align-items: start;
        justify-content: start;
        gap: 16px;
    }

    .login {
        padding-bottom: 40px;
        font-size: 14px;
    }

    .interest-button {
        margin-bottom: 8px;
    }
}