@media (max-width: 424px) {
    .form-control {
        width: 90%;
    }
    .form-control > select {
        width: 90%;
        align-self: center;
        padding: 12px;
    }

    .login {
        padding-bottom: 40px;
        font-size: 14px;
    }

    .pc {
        display: none;
    }

    .movil {
        display: inline;
    }
}