@media (max-width: 424px) {
    body {
        overflow: scroll;
    }
    .right-container {
        padding-top: 0;
        overflow: scroll;
    }
    .back {
        display: none;
    }

    .toolbar {
        display: block;
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        border-bottom: 1px solid #EDEEF3;
    }

    .right-container > h2 {
        font-size: 24px;
    }

    .Yandex {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 18px;
    }
    .Yandex > strong {
        color: #FC3F1D;
    }

    .back-button {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

    }

    .form-control {
        align-items: start;
    }

    .form-control > select {
        width: 100%;
    }

    .back-button > span {
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
    }
}
